amqp==5.1.1 ; python_version >= "3.10" and python_version < "4.0"
anyio==3.6.2 ; python_version >= "3.10" and python_version < "4.0"
async-timeout==4.0.2 ; python_version >= "3.10" and python_version <= "3.11.2"
billiard==3.6.4.0 ; python_version >= "3.10" and python_version < "4.0"
celery==5.2.7 ; python_version >= "3.10" and python_version < "4.0"
click-didyoumean==0.3.0 ; python_version >= "3.10" and python_version < "4.0"
click-plugins==1.1.1 ; python_version >= "3.10" and python_version < "4.0"
click-repl==0.2.0 ; python_version >= "3.10" and python_version < "4.0"
click==8.1.3 ; python_version >= "3.10" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.10" and python_version < "4.0" and platform_system == "Windows"
fastapi==0.95.1 ; python_version >= "3.10" and python_version < "4.0"
greenlet==2.0.2 ; python_version >= "3.10" and platform_machine == "aarch64" and python_version < "4.0" or python_version >= "3.10" and platform_machine == "ppc64le" and python_version < "4.0" or python_version >= "3.10" and platform_machine == "x86_64" and python_version < "4.0" or python_version >= "3.10" and platform_machine == "amd64" and python_version < "4.0" or python_version >= "3.10" and platform_machine == "AMD64" and python_version < "4.0" or python_version >= "3.10" and platform_machine == "win32" and python_version < "4.0" or python_version >= "3.10" and platform_machine == "WIN32" and python_version < "4.0"
h11==0.14.0 ; python_version >= "3.10" and python_version < "4.0"
idna==3.4 ; python_version >= "3.10" and python_version < "4.0"
kombu==5.2.4 ; python_version >= "3.10" and python_version < "4.0"
prompt-toolkit==3.0.38 ; python_version >= "3.10" and python_version < "4.0"
psycopg2-binary==2.9.6 ; python_version >= "3.10" and python_version < "4.0"
pydantic==1.10.7 ; python_version >= "3.10" and python_version < "4.0"
pytz==2023.3 ; python_version >= "3.10" and python_version < "4.0"
redis==4.5.4 ; python_version >= "3.10" and python_version < "4.0"
six==1.16.0 ; python_version >= "3.10" and python_version < "4.0"
sniffio==1.3.0 ; python_version >= "3.10" and python_version < "4.0"
sqlalchemy2-stubs==0.0.2a34 ; python_version >= "3.10" and python_version < "4.0"
sqlalchemy==1.4.41 ; python_version >= "3.10" and python_version < "4.0"
sqlmodel==0.0.8 ; python_version >= "3.10" and python_version < "4.0"
starlette==0.26.1 ; python_version >= "3.10" and python_version < "4.0"
typing-extensions==4.5.0 ; python_version >= "3.10" and python_version < "4.0"
uvicorn==0.22.0 ; python_version >= "3.10" and python_version < "4.0"
vine==5.0.0 ; python_version >= "3.10" and python_version < "4.0"
watchdog==3.0.0 ; python_version >= "3.10" and python_version < "4.0"
wcwidth==0.2.6 ; python_version >= "3.10" and python_version < "4.0"